.service-card {
  width: 320px;
  padding: 0 0px 25px 25px;
  border-radius: 12px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  text-align: center;
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.service-card__image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.service-card__name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 12px;
}

.service-card__info {
  font-size: 1.6rem;
  color: #444;
  margin-top: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
  .service-card {
    width: 280px;
    padding: 20px;
    font-size: 1.4rem;
  }

  .service-card__name {
    font-size: 1.6rem;
  }

  .service-card__info {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .service-card {
    width: 100%;
    
    font-size: 1.3rem;
  }

  .service-card__name {
    font-size: 1.5rem;
  }

  .service-card__info {
    font-size: 1.3rem;
  }
}
