.generic__grid_Item {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5rem;
}

.tratamentopara {
  margin-top: 30px;
 font-size: 2rem;
}
/* Ajustes para o Accordion */
.accordion {
  width: 100%;
  margin: 20px 0;
}

.generic_description {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  padding: 10px;
  width: 50%;
  box-shadow: 0 0 3px #ccc;
  border-radius: 20px;
  padding: 40px;
}

.accordion .header {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
}

.accordion .content {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
}
@media (max-width: 768px) {
  .generic__grid_Item {
    margin-top: 3rem; /* Reduz o espaçamento superior */
    padding: 0 15px; /* Adiciona padding lateral para evitar que o conteúdo encoste nas bordas */
  }

  .generic_description {
    margin: 6px;
    width: 90%; /* Aumenta a largura para ocupar mais espaço na tela */
    font-size: 1.6rem; /* Reduz o tamanho da fonte para melhor legibilidade */
    padding: 10px; /* Reduz o padding interno */
    margin: 0 auto; /* Centraliza o elemento */
  }

  .accordion .header {
    padding: 10px; /* Reduz o padding para melhorar o espaço em telas pequenas */
  }

  .accordion .content {
    padding: 10px; /* Reduz o padding para melhorar o espaço em telas pequenas */
  }
}

@media (max-width: 480px) {

    .generic__title {
      padding-top: 20px;
      font-size: 2.3rem;
    }
    .generic_description{
      font-size: 1.6rem;
      padding: 12px;
    }

  

  

  .accordion .header {
    font-size: 1rem; /* Reduz o tamanho da fonte do cabeçalho */
  }

  .accordion .content {
    font-size: 0.9rem; /* Reduz o tamanho da fonte do conteúdo */
  }
}
