.banner {
  width: 100%;
  height: 780px;
  position: relative;
  top: 0;
  padding-top: 82px;
  box-sizing: border-box;
}
.media {
  width: 100%;
  img {
    width: 100%;
    height: 780px;
  }
  .video {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.texto {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  align-items: center;
  justify-content: center;
  width: 70%;

  .h1 {
    font-size: 68px;
    margin: 0px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
  }
  .p {
    font-size: 28px;
    width: 82%;
    text-align: center;
    font-weight: 300;
  }

  .botao {
    width: 80%;
    text-align: center;
    margin-top: 40px;
    a {
      color: #fff;
      font-size: 1.6rem;
    }
  }

  .btn {
    width: 280px;
    height: 48px;
    background-color: #d38b2b;
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-top: 80px;
    border-style: none;
    border-radius: 2px;
  }
}

@media (width < 1000px) {
  .banner {
    width: 100%;
    height: 350px;
    position: relative;
  }
  .media {
    width: 100%;
    video,
    img {
      width: 100%;
      height: 350px;
    }
  }

  .texto {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: rgb(255, 255, 255);
    justify-content: center;

    .h1 {
      font-size: 28px;
      margin: 0px;
      font-weight: bolder;
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
    }
    .p {
      font-size: 14px;
      width: 100%;
      text-align: center;
    }

    .botao {
      width: 100%;
      text-align: center;
    }

    .btn {
      width: 200px;
      height: 40px;
      background-color: #d38b2b;
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin-top: 30px;
      border-style: none;
      border-radius: 2px;
    }
  }
}

@media (width > 300px) and (width < 1000px) {
  .banner {
    padding: 0;
    height: 300px;
    padding: 40px 0;
  }

  .media {
    video,
    img {
      height: 300px;
    }
  }

  .texto {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: rgb(255, 255, 255);
    justify-content: center;
    width: 90%;

    .h1 {
      font-size: 22px;
    }

    .p {
      font-size: 16px;
    }

    .botao {
      margin-top: 20px;
    }
  }
}

@media (width > 1000px) and (width < 1760px) {
  .banner {
    margin-top: 0x;
  }

  .texto {
    transform: translate(-48%, -20%);
    .h1 {
      font-size: 50px;
    }
  }
}

@media (width > 700px) and (width < 1000px) {
  .banner {
    margin-top: 0x;
    padding-top: 20px;
  }
}

@media (width > 400px) and (width < 600px) {
  .banner {
    height: 320px;
    padding: 50px 0;
  }

  .media {
    video,
    img {
      height: 320px;
    }
  }

  .texto {
    width: 85%;

    .h1 {
      font-size: 24px;
    }

    .p {
      font-size: 14px;
    }

    .btn {
      width: 180px;
      height: 38px;
      font-size: 18px;
    }
  }
}
